<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
</head>
<body>

<table>
    <tr>
        <th>id</th>
        <td th:text="${board.id}"></td>
    </tr>
    <tr>
        <th>title</th>
        <td th:text="${board.boardTitle}"></td>
    </tr>
    <tr>
        <th>writer</th>
        <td th:text="${board.boardWriter}"></td>
    </tr>
    <tr>
        <th>date</th>
        <td th:text="${board.boardCreatedAt}"></td>
    </tr>
    <tr>
        <th>hits</th>
        <td th:text="${board.boardHits}"></td>
    </tr>
    <tr>
        <th>contents</th>
        <td th:text="${board.boardContents}"></td>
    </tr>
</table>

<button onclick="listReq()">목록</button>

<th:block th:if="${session.loginEmail == board.boardWriter}">
    <button onclick="updateReq()">수정</button>
    <button onclick="deleteReq()">삭제</button>
</th:block>

<hr>

<!-- 댓글 작성 -->
<th:block th:if="${session.loginEmail != null}">
    <form action="/comment/save" method="post">

        <input type="hidden"
               name="boardId"
               th:value="${board.id}">

        <p>
            작성자 :
            <span th:text="${session.loginEmail}"></span>
        </p>

        <textarea name="commentContents"
                  cols="50"
                  rows="5"></textarea>

        <br>

        <input type="submit" value="댓글작성">

    </form>
</th:block>

<script th:inline="javascript">
    const listReq = () => {
        location.href = "/board/";
    }

    const updateReq = () => {
        const id = [[${board.id}]];
        location.href = `/board/update/${id}`;
    }

    const deleteReq = () => {
        const id = [[${board.id}]];
        location.href = `/board/delete/${id}`;
    }
</script>
<hr>

<hr>

<h3>댓글 목록</h3>

<div th:each="comment : ${commentList}"
     class="comment-box">

    <div class="comment-header">

        <span class="comment-writer"
              th:text="${comment.commentWriter}">
        </span>

        <span th:if="${session.loginEmail == comment.commentWriter}">
            <a th:href="@{/comment/update/{id}(id=${comment.id})}">
                수정
            </a>
            |
            <a th:href="@{/comment/delete/{id}(id=${comment.id})}">
                삭제
            </a>
        </span>

    </div>

    <div class="comment-content"
         th:text="${comment.commentContents}">
    </div>

</div>

</body>
</html>
