<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>list</title>
</head>
<body>

<th:block th:if="${session.loginEmail == null}">
    <a href="/member/login">로그인</a>
    <a href="/member/save">회원가입</a>
</th:block>

<th:block th:if="${session.loginEmail != null}">
    <h3 th:text="${session.loginEmail} + '님 환영합니다.'"></h3>
    <a href="/member/logout">로그아웃</a>
</th:block>

<form action="/board/search" method="get">

    <select name="searchType">
        <option value="title">제목</option>
        <option value="writer">작성자</option>
        <option value="contents">내용</option>
        <option value="titleContents">제목+내용</option>
    </select>

    <input type="text"
           name="keyword"
           placeholder="검색어 입력">

    <input type="submit"
           value="검색">

</form>

<br>

<table>
    <tr>
        <th>id</th>
        <th>title</th>
        <th>writer</th>
        <th>date</th>
        <th>hits</th>
    </tr>

    <tr th:each="board : ${boardList}">
        <td th:text="${board.id}"></td>
        <td>
            <a th:href="@{|/board/${board.id}|}"
               th:text="${board.boardTitle}"></a>
        </td>
        <td th:text="${board.boardWriter}"></td>
        <td th:text="${board.boardCreatedAt}"></td>
        <td th:text="${board.boardHits}"></td>
    </tr>
</table>

<th:block th:if="${session.loginEmail != null}">
    <button onclick="saveReq()">글작성</button>
</th:block>

<script>
    const saveReq = () => {
        location.href = "/board/save";
    }

    const loginReq = () => {
        location.href = "/member/login";
    }
</script>

</body>
</html>